.container {
    $size: 100px;
    .item {
        width: $size;
        height: $size;
        background: tomato;
    }
}

.fs {
    &-small {
        font-size: 14px;
    }
    &-medium {
        font-size: 16px;
    }
    &-large {
        font-size: 18px;
    }
}


.list {
    $w: 100px;
    $h: 50px;

    li {
        width: $w;
        height: $h;
        background-color: cadetblue;
    }

    @at-root .box {
        width: $w;
        height: $h;
        background-color: skyblue;
    }
}