$tomato: tomato;
$cadetblue: cadetblue;
$skyblue : skyblue;

$color-primary: $tomato;
$color-secondary: $cadetblue;
$color-third: $skyblue;

$url-images: "/assets/images/";
$w: 200px;

@mixin size ($w: 100px, $h: 100px){
    width: $w;
    height: $h;
}

@mixin large-text {
    font: {
        size: 22px;
        weight: bold;
        family: sans-serif;
    }
    color: orange;
    @include size;

    background: url($url-images + "bg.jpg");
    &::after {
        content: "!!";
    }

    span.icon {
      color: $color-secondary;
    }
}

@mixin var($w, $h, $bg...){
    width: $w;
    height: $h;
    background: $bg;
}

.box2 {
    @include var(
        100px, 
        200px, 
        url($url-images + "a.jpg") no-repeat 10px 20px,
        url($url-images + "b.jpg") no-repeat,
        url($url-images + "c.jpg")
        );
}

.box1 {
    @include large-text;
}

.item {
    background-color: $color-primary;
    @if ($w > 100px and $w < 900px){
        @include size($h:400px);
    }
}

.box {
    @include size;
    margin-left: $w;
    $color: #111 !global;
    $color-primary : red !default;
    background: $color-primary url($url-images + "bg.jpg");
}

.container {
    $size: 100px;
    background-color: $color;
    .item {
        width: $size;
        height: $size;
        background: $color-primary;
    }
}

.fs {
    &-small {
        font-size: 14px;
    }
    &-medium {
        font-size: 16px;
    }
    &-large {
        font-size: 18px;
    }
}


.list {
    $w: 100px;
    $h: 50px;

    li {
        width: $w;
        height: $h;
        background-color: $color-secondary;
    }

    @at-root .box {
        width: $w;
        height: $h;
        background-color: $color-third;
    }
}