$tomato: tomato;
$cadetblue: cadetblue;
$skyblue : skyblue;

$color-primary: $tomato;
$color-secondary: $cadetblue;
$color-third: $skyblue;

$url-images: "/assets/images/";
$w: 200px;

.box {
    width: $w;
    margin-left: $w;
    $color: #111 !global;
    $color-primary : red !default;
    background: $color-primary url($url-images + "bg.jpg");
}

.container {
    $size: 100px;
    background-color: $color;
    .item {
        width: $size;
        height: $size;
        background: $color-primary;
    }
}

.fs {
    &-small {
        font-size: 14px;
    }
    &-medium {
        font-size: 16px;
    }
    &-large {
        font-size: 18px;
    }
}


.list {
    $w: 100px;
    $h: 50px;

    li {
        width: $w;
        height: $h;
        background-color: $color-secondary;
    }

    @at-root .box {
        width: $w;
        height: $h;
        background-color: $color-third;
    }
}